<div align="center">
<p>
<label for="urlAddress" id="urlAddressLabel">URL:</label>
<input type="url" id="urlAddress" placeholder="Enter Youtube video URL here!"/>
<span id="submitButton">Submit</span>
</div>
<div id="fb-root"></div>
<fb:login-button autologoutlink='true' id='loginButton'
 perms='publish_stream'></fb:login-button></p>
<p>
<div id="userName">
</div>
</p>
<p>
<font size="6">
<table border="0" width="100%">
<tr>
	<td width="25%"></td>
	<td width="75%"><font size="6">Video</td>
</tr>
</table>
<div id="urls">
  <!-- Videos will be added here! =D -->
    <% @urls.reverse.each do |b| %>
	<table border="0" width="100%">
	<tr>
		<td width="25%"><%= b.imageurl %></td>
		<td width="75%"><iframe width="560" height="315" src="http://www.youtube.com/embed/<%= b.address %>" frameborder="0"></iframe>
		</td>
	</tr>
	</table>
    <% end %>
</div>
</p>